<div class="page-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Call of Tender</h1>
        <span>Our purpose is to make the business life style easier</span>
      </div>
    </div>
  </div>
</div>
<div class="services">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Few samples of <em>Call of Tenders</em></h2>
          <span>Here some  of them in diffrent fields </span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-item">
          <img src="assets/images/wash.jpg" alt="">
          <div class="down-content">
         <div class="collect">
           <div class="icon-container"><img src="assets/images/calendar.png" alt="Icon" class="icon"><span class="text">Published : 01/06/2023</span></div>
            <div class="icon-container"><img src="assets/images/stopwatch.png" alt="Icon" class="icon"><span class="text">Closing : 26/06/2023</span></div>
            <div class="icon-container"><img src="assets/images/language.png" alt="Icon" class="icon"><span class="text">Tangier,MA</span></div>
          </div>

            <h4>MMc train wash refurbishment</h4>
            <p> The Public Works Department of City of Ottawa, hereinafter referred to as the City, is seeking offers from qualified contractors to install, repair  backflow prevention devices .</p>
            <a href="" class="filled-button">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-item">
          <img src="assets/images/train.jpg" alt="">
          <div class="down-content">
         <div class="collect">
           <div class="icon-container"><img src="assets/images/calendar.png" alt="Icon" class="icon"><span class="text">Published : 02/03/2023</span></div>
            <div class="icon-container"><img src="assets/images/stopwatch.png" alt="Icon" class="icon"><span class="text">Closing : 09/09/2023</span></div>
            <div class="icon-container"><img src="assets/images/language.png" alt="Icon" class="icon"><span class="text">Tetouan,MA</span></div>
          </div>

            <h4>Media Buying and Planning RFP</h4>
            <p> CapServCo Limited Partnership is looking for vendors who can provide services as outlined within the RFP document provided for Media buying and planning services.</p>
            <a href="" class="filled-button">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-item">
          <img src="assets/images/home.jpg" alt="">
          <div class="down-content">
         <div class="collect">
           <div class="icon-container"><img src="assets/images/calendar.png" alt="Icon" class="icon"><span class="text">Published : 21/01/2023</span></div>
            <div class="icon-container"><img src="assets/images/stopwatch.png" alt="Icon" class="icon"><span class="text">Closing : 22/09/2023</span></div>
            <div class="icon-container"><img src="assets/images/language.png" alt="Icon" class="icon"><span class="text">Chefchouen,MA</span></div>
          </div>

            <h4>Home Modification</h4>
            <p> The Workers’ Compensation Board of Nova Scotia is seeking proposals for modifications to a residence in Chefchouen, lhafa area. Construct to building an extension on the existing property.</p>
            <a href="" class="filled-button">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
