<div class="page-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Call of Partnership</h1>
        <span>Our purpose is to make the business life style easier</span>
      </div>
    </div>
  </div>
</div>
<div class="services">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Few samples of <em>Call of Partnerships</em></h2>
          <span>Here some of them in diffrent fields</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-item">
          <img src="assets/images/airplane.jpg" alt="">
          <div class="down-content">
            <div class="collect">
              <div class="icon-container"><img src="assets/images/calendar.png" alt="Icon" class="icon"><span
                  class="text">Published : 01/06/2023</span></div>
              <div class="icon-container"><img src="assets/images/stopwatch.png" alt="Icon" class="icon"><span
                  class="text">Closing : 26/06/2023</span></div>
              <div class="icon-container"><img src="assets/images/language.png" alt="Icon" class="icon"><span
                  class="text">Athens,GREC</span></div>
            </div>

            <h4>Travel plans</h4>
            <p> The company wants to cooperate with businesses, travel agents wishing to satisfy the personal needs of
              their customer and want to promote the experiences offered in their region while promoting their own
              services. </p>
            <a href="" class="filled-button">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-item">
          <img src="assets/images/medecine.jpg" alt="">
          <div class="down-content">
            <div class="collect">
              <div class="icon-container"><img src="assets/images/calendar.png" alt="Icon" class="icon"><span
                  class="text">Published : 02/03/2023</span></div>
              <div class="icon-container"><img src="assets/images/stopwatch.png" alt="Icon" class="icon"><span
                  class="text">Closing : 09/09/2023</span></div>
              <div class="icon-container"><img src="assets/images/language.png" alt="Icon" class="icon"><span
                  class="text">Lisbonne,POR</span></div>
            </div>

            <h4>Medicine distribution business</h4>
            <p> A company producer of astaxanthin, marketed under its own brand as a food Supplement in bottles of 30
              softgel capsules, is looking for points of sale and/or distributors in Spain</p>
            <a href="" class="filled-button">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-item">
          <img src="assets/images/ai.jpg" alt="">
          <div class="down-content">
            <div class="collect">
              <div class="icon-container"><img src="assets/images/calendar.png" alt="Icon" class="icon"><span
                  class="text">Published : 21/01/2023</span></div>
              <div class="icon-container"><img src="assets/images/stopwatch.png" alt="Icon" class="icon"><span
                  class="text">Closing : 22/09/2023</span></div>
              <div class="icon-container"><img src="assets/images/language.png" alt="Icon" class="icon"><span
                  class="text">Torino,IT</span></div>
            </div>

            <h4>AI Manufacturing</h4>
            <br>
            <p> A company looking for partners that primarily in the field of food and beverage, paper mills, plastics
              processing, glassworks, chemical industries, dye factories and tanneries. </p>
            <a href="" class="filled-button">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>