<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 footer-item">
        <h4>Smart Business</h4>
        <p>Stay tuned for our upcoming events</p>
        <ul class="social-icons">
          <li><a rel="nofollow" href="https://fb.com/templatemo" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa fa-behance"></i></a></li>
        </ul>
      </div>
      <div class="col-md-3 footer-item">
        <h4>Useful Links</h4>
        <ul class="menu-list">
          <li><a href="http://www.sgg.gov.ma/Portals/0/commissions-marches/valise/pdf_fr_10.pdf">Get to know public market</a></li>
          <li><a href="https://www.finances.gov.ma">The minister of the economy</a></li>
          <li><a href="https://www.place2business.be/fr/fiche-documentaire/1/Pourquoi"> Appel a partenariat B2B</a></li>
          <li><a href="https://www.finances.gov.ma/Publication/depp/2018/Guide%20des%20Contrats%20de%20Partenariat%20Public-Priv%C3%A9%20%28PPP%29%202017.pdf">Contracts Guide</a></li>
          <li><a href="https://www.economie.gouv.fr/entreprises/crowdfunding-financement-participatif#:~:text=Il%20s'agit%20d'un,%2C%20entrepreneurial%2C%20etc..">Crowd Finding </a></li>
        </ul>
      </div>
      <div class="col-md-3 footer-item">
        <h4>Additional Pages</h4>
        <ul class="menu-list">
          <li><a [routerLink]="'/about'">About Us</a></li>
          <li><a href="#">How We Work</a></li>
          <li><a href="#">Quick Support</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-md-3 footer-item last-item">
        <h4>Contact Us</h4>
        <div class="contact-form">
          <form id="contact footer-contact" action="" method="post">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <fieldset>
                  <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                </fieldset>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <fieldset>
                  <input name="email" type="text" class="form-control" id="email" pattern="[^ @]*@[^ @]*" placeholder="E-Mail Address" required="">
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                </fieldset>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="filled-button">Send Message</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>
